<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="Scripts/prettify.js"></script>
    <script src="Scripts/lang-sql.js"></script>
    <script src="Scripts/SqlParser.js"></script>
    <script src="Scripts/SqlPrettyPrinter.js"></script>
    <script src="Scripts/index.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        $(function() {
            // Activate all tooltips and popovers.
            $("[data-toggle=\"tooltip\"]").tooltip();
            $("[data-toggle=\"popover\"]").tooltip();
        });

    </script>
</body>
</html>
